/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Here reset ends*/

/*____________________________________________________________________________________________________________________________*/

nav {
    float: right;
    position: absolute;
    width: 100%;
   }
a {
    color: #369;
    text-decoration: none;
   }   

nav li {
    float:right;
    padding-right: 1%;
    padding-left: 1%;
       }

#happy {
    float:left;
    color: #999;
       }

a.nav_hover:hover {
    color:#18afe0;
    }

nav button {
    color: #18afe0;
    border: none;
    cursor: pointer;
    background:none;
   
    }
body {
    margin-top: 20px;
    text-align: center;
    background-color: #fff; 
    }

#main_content {
margin: 0 auto 30px;
width: 900px;
text-align: center;
font-family:"Times New Roman", georgia,serif ;
height: 100%;
    }

.center_text h2 {
    font-size: 55px;
    width: 900px;
    margin:10px auto;
    font-weight:550;
    font-style: normal;
    text-align: center;
    color: #232323;
    min-height: 120px;
    overflow: auto;
  }

.center_hover_text h2 {
    font-size: 45px;
  }
.descrip {
    font-weight: 600;
    margin:auto;
    text-align: center;
    width: 900px;
    font-size: 18px;
    height: 50px;
    overflow: auto;
 }
.hover_desc {
    font-weight: 500;

  }

.highlight{
    text-decoration: underline;
    color: #369;
  }

.arrow_left{
   margin-top: -140px;
   margin-left: 130px;
   position:absolute;
  }

#cf_arrow{
     position:absolute;
    margin-top: -145px;
   margin-left: -20px;
  }

#main_logo {
    width:164px;
     height:39px;
     border: 0;
     margin-top: 5%;
     text-align: center;
  } 

.logo_img {
    width:180px; 
    height:230px;
    border: 1px solid #e8e8e8;
    float:left;
    margin: 25px 25px 5px 8px;
    background: #efefef;
    background:-webkit-linear-gradient(top,#fff,#efefef);      
    padding-top: 2%;
    display: block;
    border-radius: 5px;
  }

#bc {
    margin-left: 20%; 
  }


/*below manages contents inside 3 boxes______________________________________________________________________________*/
.img_text {
    margin:auto;
  }
.tri_head {
  margin: 2px;
  color:#222;
  font-size: 22px;
  text-decoration: underline;
  color: #369;
  font-weight: bold;
  }


.tri_mp {
  margin: 10px 5px 10px 5px;
  color:#222;
  font-size: 17px;
  color: #cc0000;
  font-weight: bold;
  }

.tri_desc {
  margin: 20px 5px 10px 5px;
  font-size: 17px;
  color:#222;
  }

.tabs {
    margin:1px;
    margin-bottom: 1px;
    margin-top:3%;
  }

#stars {
    clear:both;
    height:40px;
    color: transparent;
    display: block;
    text-align: center;
    padding-top:20px  ;
  }
