/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Here reset ends*/

/*____________________________________________________________________________________________________________________________*/

nav{
    float: right;
    position: absolute;
    width: 100%;
    
   }
   a{
    color: #369;
    text-decoration: none;


   }                                                /*font */

nav li {
    float:right;
    padding-right: 1%;
    padding-left: 1%;
       }

 #happy{
        float:left;
color: #369;

       }

nav button
{
    color: #369;
    border: none;
    font: Arial;
    cursor: pointer;
    background:none;
   
}
body{
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
    height: 100%;
}
#main_content
{
margin:10px auto 10px;
width:825px;
text-align: center;
font-family:serif;                                  
height: 165px;
}

h1{
    font-size: 46px;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 600;

   
}
#main_descrip
{

    font-weight: 500;
    font-size: 19px;
    margin: 2%;
    height: 20px;
    width: 825px;
  
   
}
.arrow{
    position: absolute;
    display: none;


}
#bc_arrow{
 
  top:245px;
  left: 490px;

}
#hr_arrow{
top:245px;
left:715px;
}
#cf_arrow{
top:250px;
left: 780px;
}
#main_logo{
    width:164px;
     height:39;
     border: 0;
     margin-top: 2.5%;
     

}
.logo_img
{
    width:180px; 
    height:230px;
    border: 1px solid #e8e8e8;
    float:left;
    margin: 35px 20px 5px;
    background: #efefef;
    background:-webkit-linear-gradient(top,#fff,#efefef);      
    padding-top: 2%;
    display: block;
    border-radius: 5px;


}
#bc{
    margin-left: 18%;
}


/*below manages contents inside 3 boxes______________________________________________________________________________*/

.tri_head
{

margin: 2px;
color:#222;
font-size: 22px;
text-decoration: underline;
color: #369;
font-weight: bold;
}


.tri_mp
{
margin: 10px 5px 10px 5px;
color:#222;
font-size: 17px;
color: #cc0000;
font-weight: bold;

}

.tri_desc  /*base camp,High rise, camp fire -used by ,.....*/
{
margin: 20px 5px 10px 5px;
font-size: 17px;
color:#222;
}

#stars
{
    width:100%;
    clear:both;
    height: 35px;
    color: transparent;
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-left: 40px;
}
